In [3]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split

In [18]:
#import test and train data
df_test = pd.read_csv('processed.cleveland.test.data', header=None)
df_train = pd.read_csv('processed.cleveland.train.data', header=None)

df_test.head()

     0    1    2      3      4    5    6      7    8    9    10   11   12
0  62.0  1.0  2.0  120.0  281.0  0.0  2.0  103.0  0.0  1.4  2.0  1.0  7.0
1  74.0  0.0  2.0  120.0  269.0  0.0  2.0  121.0  1.0  0.2  1.0  1.0  3.0
2  67.0  1.0  4.0  120.0  237.0  0.0  0.0   71.0  0.0  1.0  2.0  0.0  3.0
3  54.0  1.0  3.0  120.0  258.0  0.0  2.0  147.0  0.0  0.4  2.0  0.0  7.0
4  51.0  0.0  3.0  140.0  308.0  0.0  2.0  142.0  0.0  1.5  1.0  1.0  3.0

In [24]:
#change column names
column_names = ["age", "sex", "cp", "trestbps", "chol",
                "fbs", "restecg", "thalach", "exang", 
                "oldpeak", "slope", "ca", "thal", "num"]

df_test.columns = column_names[:13]
df_train.columns = column_names

df_test.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,62.0,1.0,2.0,120.0,281.0,0.0,2.0,103.0,0.0,1.4,2.0,1.0,7.0
1,74.0,0.0,2.0,120.0,269.0,0.0,2.0,121.0,1.0,0.2,1.0,1.0,3.0
2,67.0,1.0,4.0,120.0,237.0,0.0,0.0,71.0,0.0,1.0,2.0,0.0,3.0
3,54.0,1.0,3.0,120.0,258.0,0.0,2.0,147.0,0.0,0.4,2.0,0.0,7.0
4,51.0,0.0,3.0,140.0,308.0,0.0,2.0,142.0,0.0,1.5,1.0,1.0,3.0

In [30]:
#Drop all rows missing data. 
#Could handled in different way to improve performance

df_test = df_test.dropna(axis=0)
df_train = df_train.dropna(axis=0)


assert df_test.isna().any().any() == False
assert df_train.isna().any().any() == False

In [ ]:
from sklearn.preprocessing import LabelEncoder as le

df_test = df.apply(le().fit_transform)